* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F1F5F8;
}

#root {
  margin: 2rem auto;
  padding: 0;
  width: 40rem;
}

.calculator {
  padding: 0;
  height: 80vh;
  width: 40rem;
}

.display {
  background: #fff;
  border: 0.0625rem solid #999;
  font-size: 4rem;
  margin: 0;
  padding: 2rem;
  text-align: center;
  height: 8rem;
  width: 40rem;
}

.square {
  background: #fff;
  border: 0.0625rem solid #999;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 8rem;
}

.shortButton {
  width: 8rem;
}

.longButton {
  width: 16rem;
}

.square:hover {
  background-color: #B3DBF2;
}


@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (orientation: portrait) {
  html {
    font-size: 4px;
  }
  /* Для вертикальной ориентации */
}